 html, body {
     background-color: #3B4252;
 }

 #main-section-header {
     text-align: center;
     font-size: 36px;
 }

 .main-section {
     color: white;
     text-align: center;
 }

 
 #navbar {
    position: fixed;
    width: 10%;
    height: 25%;
    top: 0;
    left: 0;
  /*   max-width: 25%; */
    display: flex;
    flex-direction: column;
    background-color: #dedede;
    overflow-y: auto;
  }

 @media all and (max-width: 600px) {
     .container {
         flex-wrap: wrap;
         justify-content: flex-start;
     }
 }


 a {
     text-decoration: none;
     color: #81A1C1;
     font-size: 16px;
 }

 a:hover {
     color: #5E81AC;
 }

 #head-img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     height: 150px;
     width: 800px;
 }